ans1.txt
ans2.txt
ans3.txt
ans4.txt
ans5.txt
ans6.txt
ans7.txt
ans8.txt
ans9.txt
ans10.txt
ans11.txt
ans12.txt
ans13.txt
ans14.txt
ans15.txt
ans16.txt
ans17.txt
ans18.txt
ans29.txt
output1.txt
output2.txt
output3.txt
input11.txt
input12.txt
input13.txt
input14.txt
input15.txt
input16.txt
input17.txt
input18.txt
input19.txt
.DS_Store

